<h3 class="headline headline--delta">Media edit</h3>

<form
  [formGroup]="mediaForm"
  class="form"
  (ngSubmit)="onSubmit()">

  <p>
    <button type="submit"
            class="btn"
            [disabled]="!mediaForm.valid">save</button>
    <button type="button"
            class="btn"
            (click)="onCancel()">cancel</button>
  </p>

  <label for="name" class="form__label">title</label>
  <input type="text"
         class="form__input"
         id="name"
         formControlName="name">

  <label for="description" class="form__label">description</label>
  <input type="text"
         class="form__input"
         id="description"
         formControlName="description"
  >

  <label for="image-path" class="form__label">image path</label>
  <input type="text"
         class="form__input"
         id="image-path"
         formControlName="imagePath"
         #imagePath>

  <img [src]="imagePath.value">

</form>