@import '../../../styles';

$media-item-spacing: $spacing-normal;

.media-item {
  &__link {
    @include design-module-shadow();
    margin-bottom: $media-item-spacing;
    display: block;
    padding: $media-item-spacing;
    text-decoration: none;

    &--active {
      border-color: $color-interactive;
    }
  }

  &__headline {
    margin-top: 0;
  }

  &__description {
    margin: 0;
    color: $color-foreground;
  }
}
